.item {
    /* border-bottom: 1px solid black; */
}

.item:last-of-type {
}

.users {
}

.buttonsContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.thead {
    background-color: rgb(194, 192, 192);
}

.nameCol {
}

.ageCol {
}