.App {
    --header_height: 60px;
    /*margin: 130px 70px 0;*/
}

.hw {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hwTitle {
    font-weight: 600;
    font-size: 22px;
    color: #000;
}
